In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder,StandardScaler,OneHotEncoder
from sklearn.model_selection import train_test_split
import pickle

In [2]:
data=pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [3]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [4]:
#encoding variables
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [5]:
##One-hot encode geography column
onehot_encoder_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoded=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoded,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [6]:
##combine it with original dataframe and then dropping original one
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [7]:
##splitting dependent and independent variables or features and target
X=data.drop('EstimatedSalary',axis=1)
y=data['EstimatedSalary']

In [8]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [9]:
## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

In [10]:
#save encoders and scaler for later use
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder_gender,file)
with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler,file)

## ANNRegression problem statement

In [11]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

WARNING:tensorflow:From c:\Users\vamsi\Documents\Udemy\restart\Deep Learning\venv\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [19]:
model=Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1)#output for regression-->linear activation function
])
##compile the model
model.compile(
    optimizer='adam',
    loss='mean_absolute_error',
    metrics=['mae']
)

In [20]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 64)                832

 dense_5 (Dense)             (None, 32)                2080

 dense_6 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [21]:
## Set up the Tensorboard
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime
log_dir="regressionlogs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [22]:
## Set up Early Stopping
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [23]:
### Train the model
history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From c:\Users\vamsi\Documents\Udemy\restart\Deep Learning\venv\lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From c:\Users\vamsi\Documents\Udemy\restart\Deep Learning\venv\lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 1s 3ms/step - loss: 100375.0156 - mae: 100375.0156 - val_loss: 98507.3750 - val_mae: 98507.3750
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 99593.8516 - mae: 99593.8516 - val_loss: 96933.2734 - val_mae: 96933.2734
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 96863.3438 - mae: 96863.3438 - val_loss: 92931.3047 - val_mae: 92931.3047
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 91506.2812 - mae: 91506.2812 - val_loss: 86280.4844 - val_mae: 86280.4844
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 83715.4688 - mae: 83715.4688 - val_loss: 77652.6953 - val_mae: 77652.6953
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 74550.8672 - mae: 74550.8672 - val_loss: 68723.3828 - val_mae: 68723.3828
Epoch 7/100
250/250 [==============================] - 0s 2ms/step - loss: 65692.2031 - mae: 65692.2031 - val_loss: 61056.2188 - val_mae: 61056.2188
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 58727.9805 - mae: 58727.9805 - val_loss: 55738.7617 - val_mae: 55738.7617
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 54257.0977 - mae: 54257.0977 - val_loss: 52692.3047 - val_mae: 52692.3047
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 51831.7227 - mae: 51831.7227 - val_loss: 51481.3750 - val_mae: 51481.3750
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 50829.9766 - mae: 50829.9766 - val_loss: 51041.4297 - val_mae: 51041.4297
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 50438.1211 - mae: 50438.1211 - val_loss: 50867.0586 - val_mae: 50867.0586
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 50276.6250 - mae: 50276.6250 - val_loss: 50779.5664 - val_mae: 50779.5664
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 50193.7578 - mae: 50193.7578 - val_loss: 50718.3398 - val_mae: 50718.3398
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 50128.8789 - mae: 50128.8789 - val_loss: 50673.4258 - val_mae: 50673.4258
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 50075.3281 - mae: 50075.3281 - val_loss: 50634.2578 - val_mae: 50634.2578
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 50028.1172 - mae: 50028.1172 - val_loss: 50595.4492 - val_mae: 50595.4492
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 49985.3398 - mae: 49985.3398 - val_loss: 50568.7344 - val_mae: 50568.7344
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 49946.8125 - mae: 49946.8125 - val_loss: 50549.8906 - val_mae: 50549.8906
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 49916.2578 - mae: 49916.2578 - val_loss: 50525.0938 - val_mae: 50525.0938
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 49882.9297 - mae: 49882.9297 - val_loss: 50503.7930 - val_mae: 50503.7930
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 49855.8594 - mae: 49855.8594 - val_loss: 50484.4648 - val_mae: 50484.4648
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 49829.1914 - mae: 49829.1914 - val_loss: 50469.4609 - val_mae: 50469.4609
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 49807.3672 - mae: 49807.3672 - val_loss: 50452.6719 - val_mae: 50452.6719
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 49788.0547 - mae: 49788.0547 - val_loss: 50435.6602 - val_mae: 50435.6602
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 49765.1289 - mae: 49765.1289 - val_loss: 50428.4570 - val_mae: 50428.4570
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 49747.0742 - mae: 49747.0742 - val_loss: 50414.3789 - val_mae: 50414.3789
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 49728.5078 - mae: 49728.5078 - val_loss: 50401.7344 - val_mae: 50401.7344
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 49712.2852 - mae: 49712.2852 - val_loss: 50403.6758 - val_mae: 50403.6758
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 49693.3359 - mae: 49693.3359 - val_loss: 50391.2305 - val_mae: 50391.2305
Epoch 31/100
250/250 [==============================] - 1s 2ms/step - loss: 49676.4609 - mae: 49676.4609 - val_loss: 50387.4062 - val_mae: 50387.4062
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 49663.5664 - mae: 49663.5664 - val_loss: 50370.3594 - val_mae: 50370.3594
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 49647.5117 - mae: 49647.5117 - val_loss: 50379.9023 - val_mae: 50379.9023
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 49636.8477 - mae: 49636.8477 - val_loss: 50379.5000 - val_mae: 50379.5000
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 49624.9453 - mae: 49624.9453 - val_loss: 50362.4648 - val_mae: 50362.4648
Epoch 36/100
250/250 [==============================] - 1s 2ms/step - loss: 49615.3477 - mae: 49615.3477 - val_loss: 50357.3555 - val_mae: 50357.3555
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 49605.0000 - mae: 49605.0000 - val_loss: 50355.7891 - val_mae: 50355.7891
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 49591.3125 - mae: 49591.3125 - val_loss: 50344.4141 - val_mae: 50344.4141
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 49581.7148 - mae: 49581.7148 - val_loss: 50344.3242 - val_mae: 50344.3242
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 49571.0000 - mae: 49571.0000 - val_loss: 50345.2461 - val_mae: 50345.2461
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 49561.4609 - mae: 49561.4609 - val_loss: 50325.8867 - val_mae: 50325.8867
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 49555.4414 - mae: 49555.4414 - val_loss: 50338.4062 - val_mae: 50338.4062
Epoch 43/100
250/250 [==============================] - 1s 3ms/step - loss: 49550.2109 - mae: 49550.2109 - val_loss: 50343.9414 - val_mae: 50343.9414
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 49538.9492 - mae: 49538.9492 - val_loss: 50326.5000 - val_mae: 50326.5000
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 49532.0938 - mae: 49532.0938 - val_loss: 50316.9102 - val_mae: 50316.9102
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 49522.8945 - mae: 49522.8945 - val_loss: 50320.2109 - val_mae: 50320.2109
Epoch 47/100
250/250 [==============================] - 1s 2ms/step - loss: 49516.1758 - mae: 49516.1758 - val_loss: 50317.5156 - val_mae: 50317.5156
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 49504.9062 - mae: 49504.9062 - val_loss: 50318.0156 - val_mae: 50318.0156
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 49503.6328 - mae: 49503.6328 - val_loss: 50312.4531 - val_mae: 50312.4531
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 49491.8828 - mae: 49491.8828 - val_loss: 50317.5859 - val_mae: 50317.5859
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 49486.3711 - mae: 49486.3711 - val_loss: 50326.0938 - val_mae: 50326.0938
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 49479.6797 - mae: 49479.6797 - val_loss: 50325.5781 - val_mae: 50325.5781
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 49473.7461 - mae: 49473.7461 - val_loss: 50317.9023 - val_mae: 50317.9023
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 49465.1094 - mae: 49465.1094 - val_loss: 50308.7266 - val_mae: 50308.7266
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 49464.1172 - mae: 49464.1172 - val_loss: 50322.1250 - val_mae: 50322.1250
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 49455.8906 - mae: 49455.8906 - val_loss: 50315.8945 - val_mae: 50315.8945
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 49454.4766 - mae: 49454.4766 - val_loss: 50320.1328 - val_mae: 50320.1328
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 49444.0430 - mae: 49444.0430 - val_loss: 50314.3984 - val_mae: 50314.3984
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 49438.5547 - mae: 49438.5547 - val_loss: 50312.6719 - val_mae: 50312.6719
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 49435.6094 - mae: 49435.6094 - val_loss: 50316.3477 - val_mae: 50316.3477
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 49426.8008 - mae: 49426.8008 - val_loss: 50306.5625 - val_mae: 50306.5625
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 49421.1523 - mae: 49421.1523 - val_loss: 50308.8242 - val_mae: 50308.8242
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 49417.4336 - mae: 49417.4336 - val_loss: 50308.8984 - val_mae: 50308.8984
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 49410.1523 - mae: 49410.1523 - val_loss: 50315.5703 - val_mae: 50315.5703
Epoch 65/100
250/250 [==============================] - 1s 2ms/step - loss: 49404.2188 - mae: 49404.2188 - val_loss: 50304.3984 - val_mae: 50304.3984
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 49402.6953 - mae: 49402.6953 - val_loss: 50309.7266 - val_mae: 50309.7266
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 49396.4258 - mae: 49396.4258 - val_loss: 50321.8594 - val_mae: 50321.8594
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 49394.0391 - mae: 49394.0391 - val_loss: 50315.1953 - val_mae: 50315.1953
Epoch 69/100
250/250 [==============================] - 1s 2ms/step - loss: 49389.5547 - mae: 49389.5547 - val_loss: 50318.7031 - val_mae: 50318.7031
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 49386.5781 - mae: 49386.5781 - val_loss: 50320.5508 - val_mae: 50320.5508
Epoch 71/100
250/250 [==============================] - 1s 2ms/step - loss: 49382.1680 - mae: 49382.1680 - val_loss: 50317.9258 - val_mae: 50317.9258
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 49380.2031 - mae: 49380.2031 - val_loss: 50325.4727 - val_mae: 50325.4727
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 49374.4336 - mae: 49374.4336 - val_loss: 50318.7969 - val_mae: 50318.7969
Epoch 74/100
250/250 [==============================] - 1s 2ms/step - loss: 49371.6562 - mae: 49371.6562 - val_loss: 50320.2188 - val_mae: 50320.2188
Epoch 75/100
250/250 [==============================] - 1s 2ms/step - loss: 49367.5391 - mae: 49367.5391 - val_loss: 50324.3516 - val_mae: 50324.3516

In [24]:
%load_ext tensorboard

In [27]:
%tensorboard --logdir regressionlogs/fit

Reusing TensorBoard on port 6007 (pid 19656), started 0:00:07 ago. (Use '!kill 19656' to kill it.)

In [28]:
##evaluate the model
test_loss,test_mae=model.evaluate(X_test,y_test)
print("test_mae",test_mae)

63/63 [==============================] - 0s 1ms/step - loss: 50304.3984 - mae: 50304.3984
test_mae 50304.3984375

In [29]:
model.save('regression_model.h5')

c:\Users\vamsi\Documents\Udemy\restart\Deep Learning\venv\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(